* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(67, 62, 82);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
nav {
  overflow: hidden;
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  top: 0;
  width: 100%;
}
.hamburger {
  position: relative;
  width: 2.5%;
  height: 2px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: -7px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.hamburger::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 7px;
  width: 100%;
  height: 2px;
  background: inherit;
}
