/* .intro {
} */
.intro h1 {
  font-size: 40px;
}
.wrapper {
  display: inline-flex;
  z-index: 1;
}
.wrapper h3 {
  font-size: 30px;
  padding-right: 10px;
}
.wrapper .text-list {
  font-size: 30px;
  height: 34px;
  font-weight: 400;
  line-height: 35px;
  overflow: hidden;
}
.text-list li {
  color: tomato;
  list-style: none;
  font-size: 30px;
  font-weight: 100;
  position: relative;
  top: 0;
  animation: slide 12s steps(3) infinite;
}
@keyframes slide {
  100% {
    top: -104px;
  }
}
.text-list li span {
  position: relative;
}
.text-list li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 104%;
  width: 100%;
  background: rgb(67, 62, 82);
  border-left: 2px solid tomato;
  animation: typing 4s steps(13) infinite;
}
@keyframes typing {
  33% {
    left: 160%;
  }
  33% {
    left: 80%;
  }
  33% {
    left: 110%;
  }
}
